// Remove underlines from all links
a {
  text-decoration: none;
}
// Optional: add an underline on hover for clarity
a:hover {
  text-decoration: underline;
}

.author__avatar img {
  max-width: 300px;          // Adjust as desired for size
  margin: 0 auto;            // Centers the image horizontally
}